  * {
    box-sizing: border-box;
  }

  h1 {
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
  }

  P {
    padding: 7% 10% 7% 10%;
  }

  .marbleAbout {
    background-image: url("../assets/Marble.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
  }

  .headlineDesktop {
    display: none;
  }

  .headshotPic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }




/* Landscape media query */
@media (min-width: 545px) and (max-width: 767px) {
  h1 {
    font-size: 4rem;
    padding-top: 100px;
    padding-bottom: 40px;
  }

  P {
    padding: 7% 8% 7% 8%;
    line-height: 3.2rem;
  }

  .purpleButton {
    margin-top: -20px;
    margin-bottom: 10px;
  }


}





/* tablet start */

@media (min-width: 768px) {
  .about-col {
      display: flex;
    }

    .marbleAbout {
      flex: 35%;
    }

    .headlineMobile {
      display: none;
    }

    .headlineDesktop {
      display: initial;
    }

    .bio {
      flex: 65%;
    }

    .headshot img {
      margin-top: 15rem;;
      height: 23rem;
      width: 23rem;
    }

    h1 {
      font-size: 32px;
      padding-top: 110px;
      padding-bottom: 40px;
    }

    p {
      font-size: 2.2rem;
      line-height: 4rem;
      padding: 0 10% 50px 10%;
    }

    .marbleAbout {
      flex: 35%;
    }

    .purpleButton {
      margin-top: -20px;
      margin-bottom: 30px;
    }
}

/* tablet ends here */



/* Desktop starts here */

@media screen and (min-width: 1025px) {

  .about-col {
      display: flex;
    }

    .marbleAbout {
      flex: 30%;
    }

    .headlineMobile {
      display: none;
    }

    .headlineDesktop {
      display: initial;
    }

    .bio {
      flex: 65%;
    }

    .headshot img {
      margin-top: 17rem;;
      height: 27rem;
      width: 27rem;
    }

    h1 {
      font-size: 40px;
      padding-top: 130px;
      padding-bottom: 50px;
    }

    p {
      font-size: 2.5rem;
      line-height: 4.5rem;
      padding: 0 10% 125px 10%;
    }

    .purpleButton {
      margin-top: -60px;
      margin-bottom: 75px;
    }


/* desktop ends here  */

}
