  * {
    box-sizing: border-box;
  }

  h1 {
    text-align: center;
  }

  .marbleAbout {
    background-image: url("../assets/marble.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
  }

  .headlineDesktop {
    display: none;
  }

  .headshotPic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }


@media (min-width: 481px) and (max-width: 767px) {
  h1 {
    padding-top: 5%;
    padding-bottom: 5%;
  }

  P {
    padding: 5%;
  }
}
/* end of mobile */



/* tablet start */

@media (min-width: 768px) {
  .about-col {
      display: flex;
    }

    .marbleAbout {
      flex: 35%;
    }

    .headlineMobile {
      display: none;
    }

    .headlineDesktop {
      display: initial;
    }

    .bio {
      flex: 65%;
    }

    .headshot img {
      margin-top: 10rem;;
      height: 23rem;
      width: 23rem;
    }

    h1 {
      font-size: 32px;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    p {
      font-size: 2rem;
      padding: 0 7% 25px 7%;
    }

    .marbleAbout {
      flex: 35%;
    }

}

/* tablet ends here */



/* Desktop starts here */

@media screen and (min-width: 1025px) {

  .about-col {
      display: flex;
    }

    .marbleAbout {
      flex: 30%;
    }

    .headlineMobile {
      display: none;
    }

    .headlineDesktop {
      display: initial;
    }

    .bio {
      flex: 65%;
    }

    .headshot img {
      margin-top: 10rem;;
      height: 27rem;
      width: 27rem;
    }

    h1 {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    p {
      font-size: 2rem;
      padding: 0 9% 25px 9%;
    }

/* desktop ends here  */

}
