* {
    box-sizing: border-box;
  }

  .container {
    overflow: hidden;
  }

/* purple */
  h1 {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
  }

/* green */
  h2 {
    font-weight: 450;
    text-align: center;
    padding-top: 10px;
    padding-left: 0px;
    padding-bottom: 5px;
  }

  h3 {
    padding: 3%;
  }

  p {
    padding: 15px 5% 20px 5%;
    line-height: 30px;
  }

  .pageTitle {
    padding-top: 75px;
    padding-bottom: 30px;
  }

  .CaseStudy {
    background-image: url("../assets/Marble.png");
    background-repeat: no-repeat;
    background-size: cover;
		padding-bottom: 2%;
		margin-bottom: 3%;
  }


	.project {
		padding-bottom: 25px;
	}

  .purpleButton {
  padding-bottom: 25px;
  padding-top: 15px;
  }


	/* flip card */

	.card .front h1 {
		font-size: 2.5rem;
		padding-top: 50px;
	}

  .ThreeColumn i {
  	font-size: 50px;
  	padding-top: 50px;
  }

	.card .back h2 {
		color: #c7c7c7;
		font-size: 2.8rem;
		line-height: 3.7rem;
		padding-top: 25px;
	}

  .cardHolder {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
  }

  .card {
      width: 100%;
      height: 100%;
      position: absolute;
      -webkit-transition: -webkit-transform 1s;
      -moz-transition: -moz-transform 1s;
      -o-transition: -o-transform 1s;
      transition: transform 1s;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -o-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-transform-origin: 50% 50%;
  }

  .card div {
      height: 100%;
      width: 100%;
      text-align: center;
      font-weight: bold;
      position: absolute;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -o-backface-visibility: hidden;
      backface-visibility: hidden;
  }

  .card .front {
    background: #c7c7c7;
  }

  .card .back {
    background-color: #324960;
      -webkit-transform: rotateY( 180deg );
      -moz-transform: rotateY( 180deg );
      -o-transform: rotateY( 180deg );
      transform: rotateY( 180deg );
  }

  .card.flipped, .card:hover {
      -webkit-transform: rotateY( 180deg );
      -moz-transform: rotateY( 180deg );
      -o-transform: rotateY( 180deg );
      transform: rotateY( 180deg );
  }

  .back .deliverable h2 {
    font-size: 2.4rem;
    line-height: 3.2rem;
    padding-top: 20px;
  }


  .mobileImage img {
    width: 100%;
  }

  /* hide tablet images */
    .tabletImage img {
      display: none;
    }

/* Desktop and mobile images */
  .bothImage img {
    width: 100%;
  }

/* hide desktop image for comp */
  .desktopImage img {
    display: none;
  }

  .SWOT {
    font-family: 'Bodoni MT', 'Didot';
    font-size: 1.8rem;
    padding: 0% 8% 4% 8%;
    line-height: 30px;
  }

  .horizontalBar {
    width: 95%;
    padding-left: 20px;
  }

  .doughnutChart {
    width: 65%;
		margin-left: auto;
		margin-right: auto;
		padding-top: 25px;
  }

	.personaCard {
		margin-right: 8%;
		margin-left: 8%;
		margin-top: 25px;
	}

	.topPersona {
		display: flex;
		background-color: #324960;
		border-left: 1px solid #324960;
		border-right: 1px solid #324960;
		border-top: 1px solid #324960;
		border-radius: 10px 10px 0 0;
	}

  .persona-col img{
		flex: 50%;
		padding: 5%;
    width: 50%;
  }

  .personaInfo {
		flex: 50%;
    font-family: 'Bodoni MT', 'Didot';
		color: white;
    font-size: 2rem;
    line-height: 2.5rem;
    padding-top: 10px;
  }

	.personaGoals{
		background-color: #c7c7c7;
		font-family: 'Bodoni MT', 'Didot';
		font-size: 1.8rem;
		line-height: 3rem;
		line-height: 30px;
		border-left: 1px solid #b5b2bc;
		border-right: 1px solid #b5b2bc;
		border-bottom: 1px solid #b5b2bc;
		border-radius: 0 0 10px 10px;
	}

	.personaGoals h2 {
		color: #324960;
		padding-left: 6%;
		padding-top: 25px;
		text-align: left;
	}

/* table */

	.table {
		border: collapse;
	}

	.table-wrapper{
	    margin: 10px 70px 70px;
	    box-shadow: 0px 10px 15px rgba( 0, 0, 0, 0.2 );
			height: 300px;
			overflow-y: scroll;
	}

	.fl-table {
	    border-radius: 5px;
	    font-size: 12px;
	    font-weight: normal;
	    border: none;
	    border-collapse: collapse;
	    width: 100%;
	    max-width: 100%;
	    white-space: nowrap;
	    background-color: white;
	}

	.fl-table td, .fl-table th {
	    text-align: center;
	    padding: 8px;
	}

	.fl-table td {
	    border-right: 1px solid #f8f8f8;
			font-family: 'Bodoni MT', 'Didot';
		  font-size: 1.5rem;
	}


	thead th {
		position: sticky;
		top: 0;
	}

	.fl-table thead th {
	    color: #ffffff;
	    background: #324960;
			font-family: 'Montserrat', sans-serif;
			font-size: 1.6rem;
	}


	.fl-table tr:nth-child(even) {
	    background: #F8F8F8;
	}



	.chevron::before {
		border-style: solid;
		border-width: 0.4em 0.4em 0 0;
		content: '';
		display: inline-block;
		height: 2em;
		left: 90%;
		position: relative;
		top: 0.15em;
		transform: rotate(-45deg);
		vertical-align: top;
		width: 2em;
		margin-bottom: 20px;
	}









/* Mobile media query */
@media (min-width: 1px) and (max-width: 544px) {

  .paragraphThree {
    text-align: center;
  }

  h1 {
    padding-left: 2%;
    padding-right: 2%;
  }

  h2 {
    padding-left: 4%;
    padding-right: 4%;
  }

  P {
    padding: 5% 10% 5% 10%;
  }

	.personaInfo {
		margin-top: 10px;
		margin-bottom: 20px;
		padding-top: 18px;
	}

  .teal {
    background-color: #9BBCB1
  }

  .bothImage img {
    display: block;
    width: 100%;
  }

  .ThreeColumn {
    padding-bottom: 25px;
  }


}









/* Landscape media query */
@media (min-width: 545px) and (max-width: 767px) {

  p {
    padding: 4% 8% 4% 8%;
    line-height: 34px;
  }


  .paragraph {
    font-size: 2.2rem;
  }

  .teal {
    background-color: #9BBCB1
  }

  .tabletImage img {
    display: block;
    width: 100%;
    padding-bottom: 20px;
  }

  .bothImage img {
    display: block;
    width: 100%;
    padding-bottom: 20px;
  }

  /* hide mobile for desktop */
    .mobileImage img {
      display: none;
    }

  /* show desktop image for comp */
    .desktopImage img {
      display: none;
    }

		.personaInfo {
			padding-top: 30px;
		}

    .cardHolder {
      width: 450px;
    }


}














/* tablet start */

@media (min-width: 768px) {

  /* purple font */
    h1 {
      font-size: 3.2rem;
      padding-top: 20px;
      padding-bottom: 10px;
    }

  /* green font */
    h2 {
      font-size: 2.9rem;
      padding-top: 15px;
      /* padding-bottom: 10px; */
    }

    p {
      font-size: 2.2rem;
      padding: 2rem 10% 2rem 10%;
      line-height: 38px;
    }

		.SWOT {
			font-size: 2.2rem;
			padding: 2rem 10% 2rem 10%;
			line-height: 38px;
			}

    .pageTitle {
      padding-top: 90px;
    }

		.Personas {
			padding-bottom: 60px;
		}

    .personaInfo {
      font-size: 2.2rem;
      line-height: 33px;
			padding-top: 45px;
    }

		.persona-col img{
			flex: 30%;
			padding: 5%;
			width: 40%;
		}

    /* Desktop and mobile images */
      .bothImage img {
        width: 100%;
        padding-bottom: 20px;
      }

    /* hide mobile for desktop */
      .mobileImage img {
        display: none;
      }

    /* hide tablet images */
        .tabletImage img {
          display: none;
        }

      /* show desktop image for comp */
        .desktopImage img {
          display: block;
          width: 100%;
          padding-bottom: 20px;
        }

			.horizontalBar {
				padding-top: 25px;
				padding-bottom: 50px;
			}

			.doughnutChart {
				padding-bottom: 50px;
			}

			.chevron::before {
				height: 2.5rem;
				width: 2.5rem;
				left: 93%;
			}

      .cardHolder {
        width: 450px;
      }

      .card .front h1 {
        font-size: 3rem;
        padding-top: 40px;
      }

}



/* Desktop starts here */

@media screen and (min-width: 1025px) {
  /* purple font */
    h1 {
      font-size: 4rem;
      padding-top: 20px;
      padding-bottom: 10px;
    }

  /* green font */
    h2 {
      font-size: 3.6rem;
      padding-top: 15px;
      padding-bottom: 10px;
			padding-left: 0;
    }

    p {
      font-size: 2.5rem;
      padding: 30px 15% 30px 15%;
      line-height: 43px;
    }

		.SWOT {
			font-size: 2.5rem;
      padding: 30px 15% 30px 15%;
      line-height: 43px;
			}

    .pageTitle {
      padding-top: 90px;
    }

    .personaInfo {
      font-size: 2rem;
      line-height: 40px;
			padding-top: 2px;
    }

    .projectLogo {
      height: 24rem;
      width: 40rem;
    }

	  .ThreeColumn {
	    display: flex;
	    padding-top: 25px;
	    padding-bottom: 50px;
	    padding-left: 5%;
	    padding-right: 5%;
	  }


	  .three-col {
	    flex: 33.333%;
	  }

    .cardHolder {
      width: 300px;
    }

    .card .front h1 {
  		font-size: 3.2rem;
  	}

/* hide mobile for desktop */
  .mobileImage img {
    display: none;
  }

/* hide tablet images */
  .tabletImage img {
    display: none;
  }

  /* show desktop image for comp */
    .desktopImage img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 80%;
      padding-bottom: 30px;
    }

/* Desktop and mobile images */
      .bothImage img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        padding-bottom: 30px;
      }

  .Personas {
    display: flex;
    padding-left: 2%;
    padding-right: 2%;
  }

	.personaCard {
		margin-left: 2%;
		margin-right: 2%;
	}

	.persona-col {
		flex: 33.333%;
	}

  .persona-col img {
    height: 175px;
    width: 150px;
  }

  .personaInfo {
    font-size: 2.5rem;
    line-height: 3.5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }


	.charts {
		width: 90%;
		display: flex;
		margin-left: auto;
		margin-right: auto;
	}

  .horizontalBar {
    padding-left: 5px;
  }

  .doughnutChart {
    padding-top: 25px;
    padding-right: 5px;
  }

	#myDoughnutChart {
		height: 400px !important;
		width: 400px !important;
	}

  	#bar-chart-horizontal {
		height: 400px !important;
		width: 600px !important;
	}



/* desktop ends here  */

}
