@media screen and (max-width: 42em) {
  * {
    box-sizing: border-box;
  }

  html {
    font-size: 10px;
  }

  h1 {
    color: #A194C0;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    padding-top: 3%;
  }

  h2 {
    color: #9BBCB1;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.1rem;
    font-weight: 450;
    text-align: center;
    padding-top: 2.5%;
  }

  h3 {
    font-family: 'Bodoni MT', 'Didot';
    font-size: 2.3rem;
    padding: 3%;
    line-height: 2.5rem;
  }

  p {
    font-family: 'Bodoni MT', 'Didot';
    font-size: 1.8rem;
    line-height: 2.5rem;
    padding-top: 2.5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2.5%;
  }

  h6 {
    font-family: 'Bodoni MT', 'Didot';
    font-size: 1.6rem;
  }

  header {
    height: 5.5em;
    background-color: #A194C0;
    width: 100%;
  }





  .CaseStudy {
    background-image: url("../assets/marble.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .BPMLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .BPMLogo {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-top: 2rem;
  }

  .projectLogo {
    grid-column: 3;
    height: 12.5rem;
    width: 20rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .shortParagraph {
    padding: 3% 15% 3% 15%;
    text-align: center;
  }

  .BPMHomepage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-radius: 2px;
  }

  .BPMHomepageimg img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .inVisionButton {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-bottom: 3rem;
    padding-top: 3rem;
  }

  .TwoColumn {
    display: flex;
  }

  .two-col {
    flex: 50%;
    line-height: 1.3;
    text-align: center;
  }

  .mobileImage img {
    width: 100%;
  }

/* Desktop and mobile images */
  .bothImage img {
    width: 100%;
  }

/* hide desktop image for comp */
  .desktopImage img {
    display: none;
  }

  .greenbackground {
    background-color: #9BBCB1;
    font-family: "Bodoni MT";
    font-size: 1.8rem;
    line-height: 2.5rem;
    padding-top: 2.5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2.5%;
  }

  .three-col img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

  .personaInfo {
    text-align: center;
    font-family: "Bodoni MT";
    font-size: 1.8rem;
    line-height: 2.5rem;
    padding-top: 2.5%;
  }

/* button */

.purpleButton {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.btn {
background-color: #A194C0;
border-radius: .5rem;
grid-column: 3;
height: 3.5rem;
width: 18.5rem;
}

.link {
color: white;
font-size: 1.6rem;
font-family: "Source Sans Pro";
text-decoration: none;
}

footer {
  background-color: #A194C0;
  height: 10%;
  width: 100%;
}

.getInTouch {
  font-weight: bold;
  padding-left: 40%;
  padding-right: 40%;
  padding-top: 1.5rem;
}

.footSentence {
  padding: 1rem 15% 1rem 15%;
}

footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer li {
  padding: 1%
}

.contact {
  height: 3rem;
  width: 3rem;
}



/* navbar starts here */

  .logo img{
    height: 36px;
    width: 5rem;
  }

  .logo {
    padding: 2%;
  }

  a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
  }

  #menuToggle {
    position: relative;
    top: -45px;
    left: 90%;
    z-index: 1;
  }

  #menuToggle input {
    width: 4rem;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    opacity: 0;
    z-index: 2;
  }

  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: black;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

  /* begining of the animation code  */
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }


  /* from here until single menu is only for the animation  */
  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }

  #menuToggle input:checked ~ span:nth-last-child(3){
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(315deg) translate(0, -1px);
  }

  /* this is the actual bar moving over */
  #menu {
    position: relative;
    width: 25%;
    margin: -17% -15%;
    padding-top: 18%;
    display: flex;
    flex-direction: column;

    background: #ededed;
    list-style-type: none;
    transform-origin: 50%;
    transform: translate(0, -100%);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  /* this is editing the font of the inside stuff */
  #menu li {
      font-family: "Source Sans Pro";
      font-size: 1.8rem;
      padding: 8%;
  }

  #menuToggle input:checked ~ ul {
    transform: none;
  }

/* end of mobile */

}
